.social-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-btn img {
  width: 45px;
  filter: grayscale(100%);
  transition: filter 0.3s, transform 0.3s;
}

.social-btn img:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
}
